@font-face {
    font-family: 'Nexa';
    font-style: normal;
    font-weight: 100;
    src: url('./Nexa-Thin.otf') format("opentype");
}

@font-face {
    font-family: 'Nexa';
    font-style: italic;
    font-weight: 100;
    src: url('./Nexa-Thin-Italic.otf') format("opentype");
}

@font-face {
    font-family: 'Nexa';
    font-style: normal;
    font-weight: 300;
    src: url('./Nexa-Light.otf') format("opentype");
}

@font-face {
    font-family: 'Nexa';
    font-style: italic;
    font-weight: 300;
    src: url('./Nexa-Light-Italic.otf') format("opentype");
}

@font-face {
    font-family: 'Nexa';
    font-style: normal;
    font-weight: 400;
    src: url('./Nexa-Regular.otf') format("opentype");
}

@font-face {
    font-family: 'Nexa';
    font-style: italic;
    font-weight: 400;
    src: url('./Nexa-Regular-Italic.otf') format("opentype");
}

@font-face {
    font-family: 'Nexa';
    font-style: normal;
    font-weight: 500;
    src: url('./Nexa-Book.otf') format("opentype");
}

@font-face {
    font-family: 'Nexa';
    font-style: italic;
    font-weight: 500;
    src: url('./Nexa-Book-Italic.otf') format("opentype");
}

@font-face {
    font-family: 'Nexa';
    font-style: normal;
    font-weight: 600;
    src: url('./Nexa-XBold.otf') format("opentype");
}

@font-face {
    font-family: 'Nexa';
    font-style: italic;
    font-weight: 600;
    src: url('./Nexa-XBold-Italic.otf') format("opentype");
}

@font-face {
    font-family: 'Nexa';
    font-style: normal;
    font-weight: 700;
    src: url('./Nexa-Heavy.otf') format("opentype");
}

@font-face {
    font-family: 'Nexa';
    font-style: italic;
    font-weight: 700;
    src: url('./Nexa-Heavy-Italic.otf') format("opentype");
}

@font-face {
    font-family: 'Nexa';
    font-style: normal;
    font-weight: 900;
    src: url('./Nexa-Black.otf') format("opentype");
}

@font-face {
    font-family: 'Nexa';
    font-style: italic;
    font-weight: 900;
    src: url('./Nexa-Black-Italic.otf') format("opentype");
}
