/**
* ********************************************
*
* MOBILE / SMALL SCREEN (0px - 480px)
*
* ********************************************
*/

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
* Remove text-shadow in selection highlight:
* https://twitter.com/miketaylr/status/12228805301
*
* These selection rule sets have to be separate.
* Customize the background color to match your design.
*/

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
* A better looking default horizontal rule
*/

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
* Remove the gap between audio, canvas, iframes,
* images, videos and the bottom of their containers:
* https://github.com/h5bp/html5-boilerplate/issues/440
*/

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
* Remove default fieldset styles.
*/

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
* Allow only vertical resizing of textareas.
*/

textarea {
  resize: vertical;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  border: none;
  max-width: none;
  max-height: none;
  background-color: #fff;
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  transition: transform 160ms ease;
}

body.navbar-menu-active {
  transform: translateX(-250px);
}

a {
  color: #0069ab;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}


/* Scrollbar - Início
/* ******************************************** */

::-webkit-scrollbar {}

::-webkit-scrollbar {
  width: 8px;
  height: 0;
  background-color: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  background-color: rgba(0, 0, 0, 0.2);
  visibility: hidden;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-track-piece {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

::-webkit-resizer {
  background-color: transparent;
}

/* Scrollbar - Fim
/* ******************************************** */



/* Header - Início
/* ******************************************** */

.header {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 500;
}


/* Navbar - Início
/* ******************************************** */

.navbar {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 0;
  width: 100%;
  height: 60px;
  margin: 60px auto 0 auto;
  background: rgba(255,162,58,1);
background: -moz-linear-gradient(left, rgba(255,162,58,1) 0%, rgba(252,103,3,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,162,58,1)), color-stop(100%, rgba(252,103,3,1)));
background: -webkit-linear-gradient(left, rgba(255,162,58,1) 0%, rgba(252,103,3,1) 100%);
background: -o-linear-gradient(left, rgba(255,162,58,1) 0%, rgba(252,103,3,1) 100%);
background: -ms-linear-gradient(left, rgba(255,162,58,1) 0%, rgba(252,103,3,1) 100%);
background: linear-gradient(to right, rgba(255,162,58,1) 0%, rgba(252,103,3,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa23a', endColorstr='#fc6703', GradientType=1 );
  border-radius: 2px;
  z-index: 700;
}

.navbar ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  padding: 0;
  list-style-type: none;
}

.navbar-left,
.navbar-center,
.navbar-right {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  height: 100%;
}

.navbar-left {
  margin-left: 15px;
  z-index: 600;
}

.navbar-center {
  margin: 0 auto;
}

.navbar-right {
  margin-right: 15px;
  z-index: 600;
}

.navbar .navbar-logo {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -55px;
  left: 0;
  width: 100%;
  height: 175px;
  z-index: 100;
}

.navbar .navbar-logo img,
.navbar .navbar-logo svg {
  display: block;
  position: relative;
  width: auto;
  height: 100%;
}

.navbar .social-icons {
  display: none;
}

.navbar-menu {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  padding: 0;
  width: auto;
  height: 100%;
  margin: 0;
  list-style-type: none;
}

.navbar-menu li {
  cursor: pointer;
  height: 100%;
}

.navbar-menu a {
  cursor: pointer;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 16px;
  color: #FAFAFA;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-transform: none;
  text-decoration: none;
}

.navbar-menu a:hover {
  font-weight: 600;
}

/* TABLET (>767px) */
@media only screen and (min-width: 767px) {
  .navbar .navbar-menu::before {
    height: 30px;
  }
}

/* DEFAULT (>979px) */
@media only screen and (min-width: 979px) {
}

/* LARGE SCREEN (>1199px) */
@media only screen and (min-width: 1199px) {
  .navbar { width: 1100px; }
}

/* Navbar - Fim
/* ******************************************** */




/* Social Icons - Início
/* ******************************************** */

.social-icons {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
}

.social-icons .social-icon {
  display: block;
  position: relative;
  width: 20px;
  height: 20px;
  margin-left: 10px;
  text-decoration: none;
}

.social-icons .social-icon:nth-child(1) {
  margin-left: 0;
}

.social-icons .social-icon svg {
  display: block;
  position: relative;
  width: auto;
  height: 100%;
}

.social-icons .social-icon svg * {
  fill: #00395A;
}

.social-icons .social-icon:hover svg * {
  fill: rgba(255, 255, 255, 1);
}

/* Social Icons - Fim
/* ******************************************** */



/* Hamburger Icon - Início
/* ******************************************** */

.hamburger {
  outline: none;
  margin-top: 7px;
}

.hamburger.is-active {}

.hamburger.is-active .hamburger-inner::before {
  background-color: #fff;
}

.hamburger.is-active .hamburger-inner {
  background-color: #fff;
}

.hamburger.is-active .hamburger-inner::after {
  background-color: #fff;
}

/* DEFAULT (>979px) */
@media only screen and (min-width: 979px) {
  .hamburger {
    display: none;
  }
}

/* Hamburger Icon - Fim
/* ******************************************** */



/* Hero - Início
/* ******************************************** */

.hero {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100vh;
  background-image: url('../img/bgkaka6.png');
  background-size: cover;
  background-position: bottom bottom;
  overflow: hidden;
}

.hero-text {
  color: rgba(255, 255, 255, 0.85);
  font-size: 46px;
  font-family: 'Nexa XBold', sans-serif;
  text-transform: uppercase;
}

/* IPHONE 6 (>370px) */
@media only screen and (min-width: 370px) {}

/* ANDROID 1080p (>420px) */
@media only screen and (min-width: 420px) {}

/* SMARTPHONE (>520px) */
@media only screen and (min-width: 520px) {}

/* TABLET (>767px) */
@media only screen and (min-width: 767px) {}

/* DEFAULT (>979px) */
@media only screen and (min-width: 979px) {}

/* Hero - Fim
/* ******************************************** */


/* Footer - Início
/* ******************************************** */

.footer {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  width: 100%;
  height: auto;
  background-color: #004a70;
}

.footer-top,
.footer-bottom {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  padding: 25px 0;
  width: 100%;
}

.footer-top {
  align-items: center;
  background-color: #0069ab;
}

.footer-bottom {
  align-items: center;
  background-color: #004a70;
}

.footer-content {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  padding: 0 15px;
  width: calc(100% - 30px);
}

.footer-content-left,
.footer-content-right {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  width: 100%;
}

.footer-content-left {}

.footer-content-right {}

.footer-content-wrapper {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 20px 0 0 0;
}

.footer-logo {
  display: block;
  position: relative;
  width: 62px;
  height: 50px;
}

.footer-logo img,
.footer-logo svg {
  display: block;
  position: relative;
  width: auto;
  height: 100%;
}

.footer .social-icons {
  margin: 20px 0 10px 0;
}

.footer .social-icon {
  height: 18px;
}

.footer .social-icon svg * {
  fill: #fff;
}

.footer .social-icon:hover svg * {
  fill: #87CDFB;
}

.footer .barra-integradora {
  display: block;
  margin-top: -15px;
  padding-bottom: 15px;
}

/* IPHONE 6 (>370px) */
@media only screen and (min-width: 370px) {}

/* ANDROID 1080p (>420px) */
@media only screen and (min-width: 420px) {}

/* SMARTPHONE (>520px) */
@media only screen and (min-width: 520px) {}

/* TABLET (>767px) */
@media only screen and (min-width: 767px) {
  .footer-bottom .footer-content {
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    width: calc(100% - 30px);
  }

  .footer-bottom .footer-content-left,
  .footer-bottom .footer-content-right {
    flex-flow: row nowrap;
    align-items: flex-end;
    width: auto;
  }

  .footer-bottom .footer-content-left {
    justify-content: flex-start;
    align-items: flex-end;
  }

  .footer-bottom .footer-content-right {
    justify-content: flex-end;
  }

  .footer .social-icons {
    margin: 0;
  }
}

/* DEFAULT (>979px) */
@media only screen and (min-width: 979px) {
  .footer-bottom .footer-content,
  .footer-content {
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    width: 979px;
  }

  .footer-content-left,
  .footer-content-right {
    flex-flow: row nowrap;
    align-items: flex-end;
    width: auto;
  }

  .footer-content-left {
    justify-content: flex-start;
    align-items: flex-end;
  }

  .footer-content-right {
    justify-content: flex-end;
  }

  .footer .social-icons {
    margin: 0;
  }
}

/* LARGE SCREEN (>1199px) */
@media only screen and (min-width: 1199px) {
  .footer-bottom .footer-content,
  .footer-content {
    padding: 0 25px;
    width: 1100px;
  }
}

/* Footer - Fim
/* ******************************************** */


/**
* ********************************************
*
* IPHONE 6 (>370px)
*
* ********************************************
*/
@media only screen and (min-width: 370px) {}


/**
* ********************************************
*
* ANDROID 1080p (>420px)
*
* ********************************************
*/
@media only screen and (min-width: 420px) {}


/**
* ********************************************
*
* SMARTPHONE (>520px)
*
* ********************************************
*/
@media only screen and (min-width: 520px) {}


/**
* ********************************************
*
* TABLET (>767px)
*
* ********************************************
*/
@media only screen and (min-width: 767px) {}


/**
* ********************************************
*
* DEFAULT (>979px)
*
* ********************************************
*/
@media only screen and (min-width: 979px) {}


/**
* ********************************************
*
* LARGE SCREEN (>1199px)
*
* ********************************************
*/
@media only screen and (min-width: 1199px) {}


/**
* ********************************************
* Helper Classes
* ********************************************
*/

/*
* Hide visually and from screen readers
*/
.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*/
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*
* Extends the .visuallyhidden class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/
.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/
.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}


/* ==========================================================================
Print styles.
Inlined to avoid the additional HTTP request:
http://www.phpied.com/delay-loading-your-print-css/
========================================================================== */

@media print {
  *,
  *:before,
  *:after,
  *:first-letter,
  *:first-line {
    background: transparent !important;
color: #000 !important; /* Black prints faster:
http://www.sanbeiji.com/archives/953 */
box-shadow: none !important;
text-shadow: none !important;
}

a,
a:visited {
  text-decoration: underline;
}

a[href]:after {
  content: " (" attr(href) ")";
}

abbr[title]:after {
  content: " (" attr(title) ")";
}

/*
* Don't show links that are fragment identifiers,
* or use the `javascript:` pseudo protocol
*/
a[href^="#"]:after,
a[href^="javascript:"]:after {
  content: "";
}

pre,
blockquote {
  border: 1px solid #999;
  page-break-inside: avoid;
}

/*
* Printing Tables:
* http://css-discuss.incutio.com/wiki/Printing_Tables
*/
thead {
  display: table-header-group;
}

tr,
img {
  page-break-inside: avoid;
}

img {
  max-width: 100% !important;
}

p,
h2,
h3 {
  orphans: 3;
  widows: 3;
}

h2,
h3 {
  page-break-after: avoid;
}
}
